name: Lint
on:
  pull_request:
    paths:
      - '*.sh'
      - '*.yml'
      - '*.yaml'
      - '*.md'

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: ShellCheck
        uses: ludeeus/action-shellcheck@2.0.0
        with:
          scandir: '.'
          severity: warning

  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: YAML Lint
        uses: ibiqlik/action-yamllint@v3
        with:
          file_or_dir: '.'
          config_data: |
            extends: default
            rules:
              line-length:
                max: 120
              truthy:
                check-keys: false
