name: Lint
on:
  pull_request:
    paths:
      - '*.sh'
      - '*.yml'
      - '*.yaml'
      - '*.md'

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: ShellCheck
        uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38 # 2.0.0
        with:
          scandir: '.'
          severity: warning

  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: YAML Lint
        uses: ibiqlik/action-yamllint@ae1abb2821b567e96742aa776f7b62c9b6a26bc8 # v3
        with:
          file_or_dir: '.'
          config_data: |
            extends: default
            rules:
              line-length:
                max: 120
              truthy:
                check-keys: false
